<%-include ('./header')%>
    <div class="container">
        <div class="card">
            <h2 class="text-center mb-4">Create Group Post</h2>
            <form action="/posts/create?groupId=<%= group.groupId %>" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="groupName">Posting to group:</label>
                    <input type="text" class="form-control" id="groupName" name="groupName" value="<%= group.groupName %>" disabled>
                </div>
                <div class="form-group">
                    <label for="postHeading">Post Heading:</label>
                    <input type="text" class="form-control" id="postHeading" name="postHeading" required>
                </div>
                <div class="form-group">
                    <label for="postContent">Post Content:</label>
                    <textarea class="form-control" id="postContent" name="postContent" rows="10" required></textarea>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="postImage" name="postImage" style="cursor: pointer;">
                        <label class="custom-file-label" for="postImage" >Choose file</label>
                    </div>
                </div>

                <div class="card">
                    <img id="imagePreview" class="image-preview" src="#" alt=" No Image Chosen.... ">
                </div>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('postImage').addEventListener('change', function(event) {
            var image = document.getElementById('imagePreview');
            image.src = URL.createObjectURL(event.target.files[0]);
        });
    </script>
<%-include ('./footer')%>
