<%-include ('./header')%>
    <div class="container">
        <div class="card">
            <h2 class="text-center mb-4">Create Group Post</h2>
            <form action="/posts/create" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="groupId">Posting to group:</label>
                    <input type="text" class="form-control" id="groupId" name="groupId" value="<%= groupId %>" readonly>
                </div>
                <div class="form-group">
                    <label for="userName">Post Creator:</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="<%= currUser.userName %>" disabled>
                </div>
                <div class="form-group">
                    <label for="postHeading">Post Heading:</label>
                    <input type="text" class="form-control" id="postHeading" name="postHeading" required>
                </div>
                <div class="form-group">
                    <label for="postContent">Post Content:</label>
                    <textarea id="postContent" name="postContent" required></textarea>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="postImage" name="postImage" style="cursor: pointer;">
                        <label class="custom-file-label" for="postImage" >Choose file</label>
                    </div>
                </div>

                <div class="card">
                    <img id="imagePreview" class="image-preview" src="#" alt=" No Image Chosen.... ">
                </div>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </div>
<%-include ('./footer')%>

<script>
    document.getElementById('postImage').addEventListener('change', function(event) {
        var image = document.getElementById('imagePreview');
        image.src = URL.createObjectURL(event.target.files[0]);
    });

    $(document).ready(function() {
        $('#postContent').summernote({
            height: 300,                 // set editor height
            minHeight: 300,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
    });

</script>

