<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JU Community</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/landing/home">JU Community</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/landing/home" id="home"><i class="fa-solid fa-house mr-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/landing/view-groups" id="viewGroups"><i class="fa-solid fa-clipboard mr-2"></i>View Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/landing/view-profiles" id="viewProfiles"><i class="fa-solid fa-address-card mr-2"></i>View Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/admin/panel" id="adminPanel"><i class="fa-solid fa-lock mr-2"></i>AdminPanel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/landing/my-profile" id="myProfile"><i class="fa-solid fa-user-tie mr-2"></i>My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-tab" href="/logout"><i class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
