<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, p {
            margin: 0 0 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>New Password Notification</h1>
        <p>Your password has been successfully reset. Please use the following password to login:</p>
        <p><strong>User ID:</strong> <span id="userId"><%= userId %></span></p>
        <p><strong>New Password:</strong> <span id="newPassword"><%= newPass %></span></p>
        <p>Once logged in, we recommend changing your password for security reasons.</p>
        <p>If you have any questions or concerns, please contact us.</p>
        <a href="https://ju-community.vercel.app/" style="color: white;" class="btn">Login Now</a>
    </div>
</body>
</html>